// Customize the colors of Octoflat Here

/* Remove this line for the light theme / for custom colors

$primary-color:      #788CA6; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #3E2713; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #788CA6; // Hover-over color, Active Page color
$accent-color1:      #EDDA9F; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #EaEaea; // Background
$navbar-color:       #293154; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

 And remove this line */
/*
#293154
#788CA6
#B9CBE2
#CFD7E3
#DCDFE3
#D9D9D9
#EEE4C6
#EDDA9F
#472713
#3E2713
#361E09
*/

